.search_container h4 {
  font-family: 'Shadows Into Light Two';
  font-size: 2.5em;
  margin-top: 2em;
  text-align: center;
}

.search label {
  font-family: 'Shadows Into Light Two';
  font-size: 1.8em;
}

.search .background {
  background-image: url('/../img/search_2.jpg');
  background-size: 105em 50em;
  height: 50em;
  margin-top: 5.6em;
}

.form_div {
  background: #E0E0CE;
  border-radius: .5em;
  height: 10em;
  width: 80%;
  position: relative;
  top: 23em;
  left: 11em;
}

.form_div_filling {
  position: relative;
  top: -10em;
  right: 1em;
}

#search_err {
  color: red;
}

.search .header {
  border-bottom: 1px solid black;
}

.results {
  margin: 1em;
}

.results p {
  font-size: 1.3em;
}

.results h5 {
  font-size: 1.7em;
  font-family:'Shadows Into Light Two';
}

.search_row img {
  height: 18em;
  width: 13em;
  border-radius: .3em;
  margin: 1em;
}

.search_row {
  margin: 4em;
  border: 1px solid grey;
  border-radius: .3em;
}

.search .advanced {
  position: relative;
  top: 13.5em;
  left: 12em;
}

.advanced a {
  color: #AD343E;
}

.search h5 {
  display: inline;
}

.search select {
  margin-left: .3em;
}

.search a {
  margin-left: .5em;
}

.results_contact {
  text-align: center;
  margin: 1em;
}

.results small {
  display: block;
  margin-bottom: 1em;
}

#result_name {
  font-size: 2em;
  margin-bottom: 0em;
}

#result_envelope {
  font-size: 2.3em;
  color: #F2AF29;
}

.search_row a {
  font-size: 1.6em;
  color: black;
  text-decoration: none;
}

.search .footer {
  background-color: #E0E0CE;
}

.search .button {
  background: black;
}

.results h5 {
  font-size: 1.3em;
  font-family:'Shadows Into Light Two';
}

/*search*/
.search {
  font-family: 'Roboto';
}

.search h1{
  margin-top: 3em;
  font-family: 'Shadows Into Light Two';
  font-size: 3em;
  text-align: center;
}

.form_div {
  background: #E0E0CE;
  border-radius: .5em;
  height: 12em;
  width: 80%;
  position: relative;
  top: 23em;
  left: 11em;
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
  transition: all 0.5s linear;
  opacity: 0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  animation: 0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}
