html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.index .home_icon {
  font-size: .45em;
  position: relative;
  bottom: 3.5em;
}

.index .home_icon a {
  color: #AD343E;
}

.index img {
  margin-top: 1em;
}

/*landing*/

.landing .jumbotron {
  background-image: url('/../img/jumbotron_img3.png');
  background-image: radial-gradient();
  background-size: 100%;
  height: 69%;
  width: 85%;
  margin-top: 3em;
  margin-bottom: 4em;
}

.landing {
  height: 80em;
}

.landing .header {
  border-bottom: 1px solid black;
}

.header h4 {
  display: inline;
  float: right;
  margin: .5em;
  font-family: 'Roboto';
  font-size: 2em;
  color: #AD343E;
}

.header a {
  color: #AD343E;
}

.header h4 button {
   font-size: .9em;
   position: relative;
   bottom: .4em;
}

.header img {
  margin-top: .5em;
  height: 5em;
  width: 10em;
}

.line-separator {
  height:1px;
  width: 70%;
  background:#717171;
  border-bottom:1px solid #313030;
}

.landing_title {
  text-align: center;
  margin-left: 2em
}

.landing_title h3 {
  font-family: 'Roboto';
  margin-top: 3em;
}

.landing .text_div {
  font-family: 'Roboto';
  margin-bottom: 6em;
  left: 1em;
}

.landing form {
  margin-top: 2em;
  position: relative;
  left: 4em;
}

.landing label {
  font-family: 'Shadows Into Light Two';
  font-size: large;
}

.landing button {
  font-family: 'Roboto';
  font-size: large;
/*   background-color: #AD343E; */
}


.landing .results {
  margin-top: 3em;
}

.landing .results h5 {
  display: inline;
}

.landing img {
  height: 13em;
  width: 13em;
}

.landing select {
  font-family: 'Roboto';
}

#validation_msg {
  font-family: 'Roboto';
  color: red;
  text-align: center;
}

.landing .search {
  text-align
}

.landing .quote {
  margin-bottom: 5em;
  font-family: 'Anton';
  color: white;
  height: 45em;
  border-radius: 1em;
  margin-top: 4.5em;
  background: #ffe711;
  background: -moz-linear-gradient(top,  #ffe711 0%, #ff9501 98%);
  background: -webkit-linear-gradient(top,  #ffe711 0%,#ff9501 98%);
  background: linear-gradient(to bottom,  #ffe711 0%,#ff9501 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe711', endColorstr='#ff9501',GradientType=0 );
}

.container-fluid .quote {
   margin-top: 7em;
   margin-bottom: 7em;
}

.landing .quote h2 {
  font-size: 5em;
  margin-top: 2em;
}

.landing .quote h3 {
  margin-top: 1.5em;
  float: right;
}

.blurb_div {
  margin-top: 8em;
  text-align: center;
  border-bottom: 2px solid black;
}

.blurbs {
  height: 40em;
  width: 30em;
  text-align: center;
}

.blurbs img {
  height: 18em;
  width: 25em;
}

.blurbs h1 {
  font-family:'Shadows Into Light Two';
}

.blurb_article {
  font-family: 'Roboto';
  font-size: 1em;
}

/*landing page footer*/
.landing .footer {
  background-color: #AD343E;
}

.footer {
  height: 10em;
}

.footer h4 {
  display: inline;
  margin: .5em;
  font-family: 'Roboto';
  font-size: 2em;
}

.footer a {
  text-decoration: none;
  float: right;
  margin: .5em;
  margin-top: 3em;
}
