<div class="container-fluid about">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h1><i class="fa fa-globe" aria-hidden="true"></i></h1>
      <h1>InterCambio</h1>
      <p>
        was developed by Vy Nguyen as a capstone project, born from her love of languages,
        cultures, and connecting with people from all over the world.
      </p>
    </div>
  </div>
  <hr>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
      <h1><i class="fa fa-codepen" aria-hidden="true"></i></h1>
      <h1>Technologies used: </h1>
      <p>AngularJS • Express • Express • Knex • Postgres • JWT • Angular • Angular Translate</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1><i class="fa fa-envelope-o" aria-hidden="true"></i></h1>
    <h1>Connect</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-lg-offset-3">
    <h3><a href=""><i class="fa fa-github-alt icon" aria-hidden="true"></i></a></h3>
    <p>GitHub</p>
  </div>
  <div class="col-lg-2">
    <h3><a href=""><i class="fa fa-linkedin-square icon" aria-hidden="true"></i></a></h3>
    <p>LinkedIn</p>
  </div>
  <div class="col-lg-2">
    <h3><a href=""><i class="fa fa-desktop icon" aria-hidden="true"></i></i></a></h3>
    <p>Website</p>
  </div>
</div>
</div>
