<div class="container-fluid about">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h1><i class="fa fa-globe" aria-hidden="true"></i></h1>
      <h1>InterCambio</h1>
      <p translate="about_description"></p>
    </div>
  </div>
  <hr>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
      <h1><i class="fa fa-codepen" aria-hidden="true"></i></h1>
      <h1 translate="tech_used"></h1>
      <p>AngularJS • Express • Knex • Postgres • JWT • Angular Translate</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1><i class="fa fa-envelope-o" aria-hidden="true"></i></h1>
    <h1 translate="connect"></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-lg-offset-3">
    <h3><a href="https://github.com/vy697/intercambio_back_end"><i class="fa fa-github-alt icon" aria-hidden="true"></i></a></h3>
    <p>GitHub</p>
  </div>
  <div class="col-lg-2">
    <h3><a href="http://linkedin.com/in/vy-phuong-nguyen"><i class="fa fa-linkedin-square icon" aria-hidden="true"></i></a></h3>
    <p>LinkedIn</p>
  </div>
  <div class="col-lg-2">
    <h3><a href="vy-p-nguyen.com"><i class="fa fa-desktop icon" aria-hidden="true"></i></i></a></h3>
    <p translate="website"></p>
  </div>
</div>
</div>
