<div class="home">
<div class="row home_rows">
  <div class="col-lg-3 col-lg-offset-1">
    <a href="/#/home" class="home_icons"><i class="fa fa-home" aria-hidden="true"></i></a>
  </div>
  <div class="col-lg-3">
    <a href="/#/messages" class="home_icons"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  </div>
  <div class="col-lg-3">
    <a href="/#/settings" class="home_icons"><i class="fa fa-cog" aria-hidden="true"></i></a>
  </div>
  <div class="col-lg-2">
    <a href="" class="home_icons"><i class="fa fa-user" aria-hidden="true"></i></a>
  </div>
</div>

<h2>Welcome back, USERNAME!</h2>
<h3>You have (#) new message(s)</h3>

<h4>Language exchanges in your area: </h4>

</div>
