<div class="landing">

  <div class="row">
      <div class="col-lg-12 header">
        <!-- LOGIN HERE -->
        <a href="/#/home"><h4 translate="hey" translate-values='{ user: land.userData.data.name }' ng-show="land.showLogout"></h4></a>
        <h4><a href="/#/login"><button type="button" class="btn btn-secondary" translate="login" ng-hide="land.showLogout"></button></a></h4>
        <h4><a href="" ng-click="land.changeLanguage(land.keys.en)" ng-hide="land.showLogout">English</a></h4>
        <h4><a href="" ng-click="land.changeLanguage(land.keys.es)" ng-hide="land.showLogout">Español</a></h4>
      </div>

    <div class="row login_menu" ng-show="land.showLogin">
      <div class="col-lg-1">
        <button ng-click="land.login(land.email, land.password)" translate="submit" type="button" class="btn btn-primary"></button>
      </div>
      <div class="col-lg-2">
        <label translate="password" for="pw"></label>
        <input ng-model="land.password" type="password" class="form-control">
      </div>
      <div class="col-lg-2">
        <label for="email">Email</label>
        <input ng-model="land.email" type="text" class="form-control">
      </div>
    </div>
</div>

<div class="container-fluid jumbotron">
</div>

<div class="col-lg-offset-2 line-separator"></div>

<div class="row">
  <div class="col-lg-12 landing_title">
    <h3 translate="landing_message"></h3><br>
  </div>

  <div class="col-lg-4 col-lg-offset-4">
  <form name="land.form">
    <div class="form-group">
      <label translate="i_speak" for="i_speak"></label>
      <select name="i_speak"
              ng-model="land.i_speak"
              class="form-control"
              required>
        <option selected="" value="1" translate="en"></option>
        <option value="2" translate="es"></option>
        <option value="3" translate="fr"></option>
        <option value="4" translate="por"></option>
        <option value="5" translate="viet"></option>
      </select>
    </div>
    <div class="form-group">
      <label translate="i_want_to_learn" for="user_learns_language"></label>
      <select name="i_learn"
              ng-model="land.i_learn"
              class="form-control"
              required>
        <option value="1" translate="en" selected></option>
        <option value="2" translate="es"></option>
        <option value="3" translate="fr"></option>
        <option value="4" translate="por"></option>
        <option value="5" translate="viet"></option>
      </select>
    </div>
    <div class="form-group">
      <label translate="city_label"></label>
      <select name="city"
              ng-model="land.city"
              class="form-control"
              required>
        <option ng-repeat="city in land.cityList.data" value="{{city.display_name}}">{{city.display_name}}</option>
      </select>
    </div>

    <button ng-click="land.findMatches(land.i_speak, land.i_learn, land.city)" translate="search" type="button" class="btn btn-primary btn btn-block"></button>
    <h4 id="validation_msg" ng-show="land.form.$invalid">{{land.errorMessage}}</h4>
  </form>

</div>
</div>

<div class="row">
  <div class="col-lg-12 text_div" style="text-align: center; margin-top: 1em;">

    <h4 style="display: inline"><a href="/#/signup" translate="register"></a></h4><p style="display: inline"> <span translate="get_talking"></span><p>

    <h5 translate="tour" style="display: inline"></h5> <a translate="demo" href="#"></a>
  </div>
</div>

<div class="col-lg-offset-2 line-separator"></div>

<div class="container-fluid quote">
  <div class="col-lg-12">
    <h2 translate="landing_quote"></h2>
    <h3>‒Nelson Mandela</h3>
  </div>
</div>

<div class="col-lg-offset-2 line-separator"></div>

<div class="row blurb_div">
  <div class="col-lg-4 col-lg-offset-1 blurbs">
    <img src="./img/group_short.png" alt="girls laughing" />
    <h1 translate="fun"></h1>
    <article translate="fun_learning" class="blurb_article"></article>
  </div>
  <div class="col-lg-4 blurbs">
    <img src="./img/read.png" alt="book" />
    <h1 translate="books"></h1>
    <article translate="learning" class="blurb_article"></article>
  </div>
  <div class="col-lg-4 blurbs">
    <img src="./img/girls_laughing.png" alt="talk" />
    <h1 translate="talky_talk"></h1>
    <article translate="excite" class="blurb_article"></article>
  </div>
</div>

<!-- TODO: What to do with all exchanges list?? -->
<!-- get all exchanges link -->
<div class="container">
<a href="" ng-click="land.getExchanges()" translate="all_exchanges"></a>
<div class="container">
  <div class="row" ng-repeat="exchange in land.exchanges.data">
    <div class="col-lg-3">
      <h4>{{exchange.name}}</h4>
      <img src="{{exchange.photo_url}}" alt="user profile photo" />
      <h5>{{exchange.translated_location}}</h5>
    </div>
    <div class="col-lg-6 results">
      <h5 translate="i_speak"></h5><p>{{exchange.speaks_language_display_name}} ({{exchange.speaks_level_display_name}})</p>
      <h5 translate="i_want_to_learn"></h5><p>{{exchange.learns_language_display_name}} ({{exchange.learns_level_display_name}})</p>
      <h5 translate="exchange_type_preferred"></h5><p>{{exchange.pair | pair}} {{exchange.group | group}} {{exchange.online | online}}</p>
    </div>
  </div>
</div>
</div>

<div class="row footer">

  <div class="col-lg-12">
    <h4><a href="#" translate="about"></a></h4>
    <h4><a href="http://linkedin.com/in/vy-phuong-nguyen" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h4>
    <h4><a href="https://github.com/vy697/intercambio_back_end" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></h4>
  </div>

</div>
</div>
