<div class="landing">
  <div class="row">
    <div class="col-lg-12 header">
      <!-- <h4><a href="">See all exchanges</a></h4> -->

      <!-- LOGIN HERE -->
        <h4><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a></h4>

        <!-- <ul class="dropdown-menu">
          <li><a href="#">Email: </a><input type="text" placeholder="Email"></li>
          <li><a href="#">Phone</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Set Appointment</a></li>
        </ul> -->

      <h4><a href="#" translate="register"></a></h4>
      <h4><a href="" ng-click="land.changeLanguage('en')">English</a></h4>
      <h4><a href="" ng-click="land.changeLanguage('es')">Español</a></h4>
    </div>
    <div class="col-lg-2 col-lg-offset-10">
      <label for="email">Email</label>
      <input type="text" class="form-control">
      <label translate="password" for="pw"></label>
      <input type="password" class="form-control">
    </div>
  </div>

<div class="row">
  <div class="col-lg-12 landing_title">
    <h3 translate="landing_message"></h3><br>
  </div>

  <!-- <div class="col-lg-12" style="text-align: center">
    <h4 style="display: inline"><a href="" ng-click="land.changeLanguage('en')">English</a></h4>
    <h4 style="display: inline"><a href="" ng-click="land.changeLanguage('es')">Español</a></h4>
  </div> -->

  <div class="col-lg-4 col-lg-offset-4">
  <form>
    <div class="form-group">
      <label translate="i_speak" for="user_speaks_language"></label>
      <select class="form-control">
        <option translate="en"></option>
        <option translate="es"></option>
        <option translate="fr"></option>
        <option translate="por"></option>
        <option translate="viet"></option>
      </select>
    </div>
    <div class="form-group">
      <label translate="i_want_to_learn" for="user_learns_language"></label>
      <select class="form-control">
        <option translate="es"></option>
        <option translate="en"></option>
        <option translate="fr"></option>
        <option translate="por"></option>
        <option translate="viet"></option>
      </select>
    </div>
    <div class="form-group">
      <label translate="city_label" for="city"></label>
      <input type="text" class="form-control">
    </div>
    <button translate="search" type="button" class="btn btn-primary"></button>
  </form>

</div>
</div>

<div class="row">
  <div class="col-lg-12" style="text-align: center; margin-top: 1em;">
    <h5 translate="tour" style="display: inline"></h5> <a translate="demo" href="#"></a>
    <h5 translate="or"></h5>
    <a href="" ng-click="land.getExchanges()" translate="all_exchanges"></a>
  </div>
</div>

<div class="container">
  <div class="row" ng-repeat="exchange in land.exchanges">
    <div class="col-lg-3">
      <h4>{{exchange.user_name}}</h4>
      <img src="{{exchange.photo_url}}" alt="user profile photo" />
      <h5>{{exchange.city}}</h5>
    </div>
    <div class="col-lg-6 results">
      <h5 translate="i_speak"></h5><p>{{exchange.speaks_language}} ({{exchange.speaks_language_level}})</p>
      <h5 translate="i_want_to_learn"></h5><p>{{exchange.learns_language}} ({{exchange.learns_language_level}})</p>
      <h5 translate="exchange_type_preferred"></h5><p>{{exchange.pair | pair}} {{exchange.group | group}} {{exchange.online | online}}</p>
    </div>
  </div>
  </div>

<!-- <div class="col-md-12">
  <h2>{{exchange.user_name}}</h2> -->
  <!-- <small>Link: <a href="#">{{post.url}}</a></small>
  <h5>Post description:</h5>
  <p>
    {{post.description}}
  </p>
  <small>Posted by: {{post.username}} at {{post.posted_at}}</small></br>
  <a href="#">GO TO POST</a>
</div> -->
<!-- </div> -->

</div>
