<div class="messages">
  <div class="row home_rows">
    <div class="col-lg-3">
      <a href="/#/home" class="glow"><i class="fa fa-home home_icons" aria-hidden="true"></i><br><span class="home_text">Home</span></a>
    </div>
    <div class="col-lg-3">
      <a href="/#/messages" class="glow"><i class="fa fa-envelope-o home_icons" aria-hidden="true"></i><br><span class="home_text">Messages</span></a>
    </div>
    <div class="col-lg-3">
      <a href="/#/search" class="glow"><i class="fa fa-search home_icons" aria-hidden="true"></i><br><span class="home_text">Search</span></a>
    </div>
    <div class="col-lg-2">
      <a href="/#/my-profile" class="glow"><i class="fa fa-angellist home_icons" aria-hidden="true"></i><br><span class="home_text">My Profile</span></a>
    </div>
  </div>

{{msg.message}}




</div>
