<div class="messages">
  <div class="row home_rows">
    <div class="col-lg-4">
      <a href="/#/home" class="glow"><i class="fa fa-home home_icons" aria-hidden="true"></i><br><span class="home_text">Home</span></a>
    </div>
    <!-- <div class="col-lg-3">
      <a href="/#/messages" class="glow"><i class="fa fa-envelope-o home_icons" aria-hidden="true"></i><br><span class="home_text">Messages</span></a>
    </div> -->
    <div class="col-lg-4">
      <a href="/#/search" class="glow"><i class="fa fa-search home_icons" aria-hidden="true"></i><br><span class="home_text">Search</span></a>
    </div>
    <div class="col-lg-3">
      <a href="/#/my-profile" class="glow"><i class="fa fa-angellist home_icons" aria-hidden="true"></i><br><span class="home_text">My Profile</span></a>
    </div>
  </div>


<!-- <div class="container-fluid">
<div ng-repeat="message in msg.threads.data">
  <h4>message_id:</h4> {{message.message_id}}
  <h4>thread_id:</h4> {{message.thread_id}}
  <h4>sender:</h4> {{message.sender}}
  <h4>recipient:</h4> {{message.recipient}}
  <h4>message_text:</h4> {{message.message_text}}
  <h4>time_sent:</h4> {{message.time_sent}}
  <h4>unread:</h4> {{message.unread}}
<hr>
<hr>
<hr>
</div>
</div>

{{msg.threads}}
 -->


</div>
