<div class="profile">
  <!-- <div class="row"> -->
  <div class="row home_rows">
    <div class="col-lg-3">
      <a href="/#/home" class="glow"><i class="fa fa-home home_icons" aria-hidden="true"></i><br><span class="home_text">Home</span></a>
    </div>
    <div class="col-lg-3">
      <a href="/#/messages" class="glow"><i class="fa fa-envelope-o home_icons" aria-hidden="true"></i><br><span class="home_text">Messages</span></a>
    </div>
    <div class="col-lg-3">
      <a href="/#/search" class="glow"><i class="fa fa-search home_icons" aria-hidden="true"></i><br><span class="home_text">Search</span></a>
    </div>
    <div class="col-lg-2">
      <a href="/#/my-profile" class="glow"><i class="fa fa-angellist home_icons" aria-hidden="true"></i><br><span class="home_text">My Profile</span></a>
    </div>
  </div>

    <div class="go_back">
      <a href="" ng-click="pro.goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div>
  <!-- </div> -->
    <div class="container search_container">
        <div class="row search_row" ng-repeat="user in pro.userProfile">
                <div class="col-lg-3">
                    <img src="{{user.photo_url}}" alt="user profile photo" />
                </div>

                <div class="col-lg-6 results">
                  <p id="result_name">{{user.name}}</p><small>{{user.translated_location}}</small>
                  <h5 translate="age"></h5><p>{{user.age}}</p>
                    <h5 translate="i_speak"></h5>
                    <p>{{user.speaks_language_display_name}} ({{user.speaks_level_display_name}})</p>
                    <h5 translate="i_want_to_learn"></h5>
                    <p>{{user.learns_language_display_name}} ({{user.learns_level_display_name}})</p>
                    <h5 translate="exchange_type_preferred"></h5>
                    <p>{{user.pair | pair}} {{user.group | group}} {{user.online | online}}</p>
                    <h5 translate="about_me"></h5><p>{{user.description}}</p>
                </div>

                <div class="col-lg-2 results_contact">
                  <!-- <a href="" ng-click="search.goToProfile(user.id)" translate="view_profile"></a></br> -->
                  <a href="mailto:{{user.email}}" id="result_envelope"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>



        <div class="row footer">
            <div class="col-lg-12">
                <h4><span id="footer_about"><a href="" translate="about"></a></span></h4>
                <h4><a href="http://linkedin.com/in/vy-phuong-nguyen" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h4>
                <h4><a href="https://github.com/vy697/intercambio_back_end" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></h4>
            </div>
        </div>
    </div>

</div>
