<div class="search">
  <!-- <div class="col-lg-3"> -->
  <form name="search.form">
    <div class="col-lg-3 form-group">
      <label translate="i_speak" for="i_speak"></label>
      <select
          name="i_speak"
          ng-model="search.i_speak"
          class="form-control"
          required>
        <option value="1" translate="en" selected></option>
        <option value="2" translate="es"></option>
        <option value="3" translate="fr"></option>
        <option value="4" translate="por"></option>
        <option value="5" translate="viet"></option>
      </select>
    </div>
  <!-- </div> -->
    <div class="col-lg-3 form-group">
      <label translate="i_want_to_learn" for="i_learn"></label>
      <select
          name="i_learn"
          ng-model="search.i_learn"
          class="form-control"
          required>
        <option value="1" translate="en" selected></option>
        <option value="2" translate="es"></option>
        <option value="3" translate="fr"></option>
        <option value="4" translate="por"></option>
        <option value="5" translate="viet"></option>
      </select>
    </div>
    <div class="col-lg-3 form-group">
      <label translate="city_label" for="city"></label>
      <select
          name="city"
          ng-model="search.city"
          class="form-control"
          required>
        <option ng-repeat="city in search.cityList.data" value="{{city.display_name}}">{{city.display_name}}</option>
      </select>
    </div>
    <div class="col-lg-2">
      <label style="color: white; display: block" for="">block</label>
      <button ng-click="search.findMatches(search.i_speak, search.i_learn, search.city)" translate="search" type="button" class="btn btn-primary"></button>
    </div>
    <h4>{{search.errorMessage}}</h4>
  </form>

  <div class="row">
    <div class="col-lg-6">
      <h3>{{search.searchResults.message}}</h3>
      <!-- <h3>{{search.message}}</h3>
      <h3 ng-show="search.yesMatches">YES</h3>
      <h3 ng-show="search.noMatches">NO</h3> -->
    </div>
  </div>

  <div class="container">
    <div class="row" ng-repeat="exchange in search.searchResults.data">

      <div class="col-lg-3">
        <h4>{{exchange.name}}</h4>
        <img src="{{exchange.photo_url}}" alt="user profile photo" />
        <h5>{{exchange.translated_location}}</h5>
      </div>

      <div class="col-lg-6 results">
        <h5 translate="i_speak"></h5><p>{{exchange.speaks_language_display_name}} ({{exchange.speaks_level_display_name}})</p>
        <h5 translate="i_want_to_learn"></h5><p>{{exchange.learns_language_display_name}} ({{exchange.learns_level_display_name}})</p>
        <h5 translate="exchange_type_preferred"></h5><p>{{exchange.pair | pair}} {{exchange.group | group}} {{exchange.online | online}}</p>

      </div>
    </div>
  </div>

</div>
