<div class="search">
  <div class="col-lg-4 col-lg-offset-4">
  <form>
    <div class="form-group">
      <label translate="i_speak" for="user_speaks_language"></label>
      <select class="form-control">
        <option translate="en"></option>
        <option translate="es"></option>
        <option translate="fr"></option>
        <option translate="por"></option>
        <option translate="viet"></option>
      </select>
    </div>
    <div class="form-group">
      <label translate="i_want_to_learn" for="user_learns_language"></label>
      <select class="form-control">
        <option translate="es"></option>
        <option translate="en"></option>
        <option translate="fr"></option>
        <option translate="por"></option>
        <option translate="viet"></option>
      </select>
    </div>
    <div class="form-group">
      <label translate="city_label" for="city"></label>
      <input type="text" class="form-control">
    </div>
    <button translate="search" type="button" class="btn btn-primary btn-lg btn-block"></button>
  </form>

</div>
</div>
