<h1 translate="sign_up_message"></h1>

<div class="row">
  <div class="col-lg-4">
    <form>
      <div class="form-group">
        <label translate="name"></label>
        <input type="text" class="form-control">

        <label translate="email"></label>
        <input type="text" class="form-control">

        <label translate="password"></label>
        <input type="text" class="form-control">

        <label translate="password_2"></label>
        <input type="text" class="form-control">

        <label translate="city_label"></label>
        <input type="text" class="form-control">

        <label translate="about_me"></label>
        <textarea class="form-control" rows="3"></textarea>

        <label translate="age"></label>
        <input class="form-control" type="number">

        <label translate="photo_url"></label>
        <input type="text" class="form-control">

        <label translate="exchange_type_preferred"></label>
        <input class="form-check-input" type="checkbox"><label class="form-check-label" translate="pair"></label>
        <input class="form-check-input" type="checkbox"><label class="form-check-label" translate="group"></label>
        <input class="form-check-input" type="checkbox"><label class="form-check-label" translate="online"></label>

        <label translate="lang_preference"></label>

        <!-- TODO: include user speaks/learns languages -->
        </div>
      </form>
    </div>
  </div>
