<div class="container signup">

<h1 translate="sign_up_message"></h1>

<div class="row">
  <div class="col-lg-4">
    <form>
      <div class="form-group">
        <label translate="name"></label>
        <input ng-model="signup.name" type="text" class="form-control">

        <label translate="email"></label>
        <input ng-model="signup.email" type="text" class="form-control">

        <label translate="password"></label>
        <input ng-model="signup.password" type="text" class="form-control">

        <label translate="password_2"></label>
        <input ng-model="signup.password_2" type="text" class="form-control">

        <label translate="city_label"></label>
        <select ng-model="signup.city" class="form-control">
          <option ng-repeat="city in signup.cityList.data" value="{{city.display_name}}">{{city.display_name}}</option>
        </select>

        <label translate="about_me"></label>
        <textarea ng-model="signup.description" class="form-control" rows="3"></textarea>

        <label translate="age"></label>
        <input ng-model="signup.age" class="form-control" type="number">

        <label translate="photo_url"></label>
        <input ng-model="signup.photo_url" type="text" class="form-control">

        <label translate="exchange_type_preferred"></label>
        <input ng-model="signup.pair" class="form-check-input" type="checkbox"><label class="form-check-label" translate="pair"></label>
        <input ng-model="signup.group" class="form-check-input" type="checkbox"><label class="form-check-label" translate="group"></label>
        <input ng-model="signup.online" class="form-check-input" type="checkbox"><label class="form-check-label" translate="online"></label>

        <!-- <div class="form-group"> -->
        <label translate="lang_preference"></label>
        <select ng-model="signup.lang_preference" class="form-control">
          <option value="en" translate="en" selected></option>
          <option value="es" translate="es"></option>
        </select>
        <!-- </div> -->

        <label translate="i_speak" for="user_speaks_language"></label>
        <select ng-model="signup.i_speak" class="form-control">
          <option value="1" translate="en" selected></option>
          <option value="2" translate="es"></option>
          <option value="3" translate="fr"></option>
          <option value="4" translate="por"></option>
          <option value="5" translate="viet"></option>
        </select>

        <label translate="level" for="user_speaks_language_level"></label>
        <select ng-model="signup.i_speak_level" class="form-control">
          <option value="1" translate="beginner" selected></option>
          <option value="2" translate="intermediate"></option>
          <option value="3" translate="advanced"></option>
          <option value="4" translate="native"></option>
        </select>

        <label translate="i_want_to_learn" for="user_learns_language"></label>
        <select ng-model="signup.i_learn" class="form-control">
          <option value="1" translate="en" selected></option>
          <option value="2" translate="es"></option>
          <option value="3" translate="fr"></option>
          <option value="4" translate="por"></option>
          <option value="5" translate="viet"></option>
        </select>

        <label translate="level" for="user_learns_language_level"></label>
        <select ng-model="signup.i_learn_level" class="form-control">
          <option value="1" translate="beginner" selected></option>
          <option value="2" translate="intermediate"></option>
          <option value="3" translate="advanced"></option>
          <option value="4" translate="native"></option>
        </select>

        <button ng-click="signup.submit(signup.name, signup.email, signup.password, signup.city, signup.description, signup.age, signup.photo_url, signup.pair, signup.group, signup.online, signup.lang_preference, signup.i_speak, signup.i_learn, signup.i_speak_level, signup.i_learn_level)" translate="submit" type="button" class="btn btn-primary"></button>

        </div>
      </form>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-3">
    <button ng-click="home.showPostForm()" class="btn btn-primary form-control">Add new post</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6" ng-show="home.formDisplayed">
    <form>
      <input type="text" ng-model="home.user_id" placeholder="user id here">
      <input type="text" ng-model="home.title" placeholder="title">
      <input type="text" ng-model="home.description" placeholder="description">
      <input type="text" ng-model="home.url" placeholder="url">
      <button ng-click="home.submitPost(home.user_id, home.title, home.description, home.url)" class="btn btn-primary">Submit post</button>
    </form>
  </div> -->
