/*.header {
  margin-bottom: 3em;
}*/
.landing {
  background-image: url('../img/photo-1.jpeg');
  background-size: 110em 60em;
  height: 60em;
  /*background-color: black;*/
}

.header h4 {
  display: inline;
  float: right;
  margin: .5em;
}

.header img {
  height: 5em;
  width: 10em;
  position: relative;
  left: 45em;
}

.footer {
  height: 5em;
  background-color: lightgrey;
  margin-top: 10em;
}

.footer h4 {
  display: inline;
  margin: .5em;
}

.landing_title {
  text-align: center;
}

/*.landing .login_menu {
  position: absolute;
}*/

.landing .login_menu div {
  float: right;
}

.landing .login_menu button {
  position: relative;
  top: 1.7em;
}

.landing .results {
  margin-top: 3em;
}

.landing .results h5 {
  display: inline;
}

.landing img {
  height: 13em;
  width: 13em;
}

.home_icons {
  font-size: 3em;
}

.home_rows {
  margin-top: 3em;
}
