/*.header {
  margin-bottom: 3em;
}*/

.header h4 {
  display: inline;
  float: right;
  margin: .5em;
}

.header img {
  height: 5em;
  width: 10em;
  position: relative;
  left: 45em;
}

.footer {
  height: 5em;
  background-color: lightgrey;
  margin-top: 10em;
}

.footer h4 {
  display: inline;
  margin: .5em;
}

.landing_title {
  text-align: center;
}

.landing button {
  position: relative;
  left: 10em;
}

.landing .results {
  margin-top: 3em;
}

.landing .results h5 {
  display: inline;
}

.landing img {
  height: 13em;
  width: 13em;
}

.home_icons {
  font-size: 3em;
}

.home_rows {
  margin-top: 3em;
}
